<article class="markdown-body entry-content" itemprop="mainContentOfPage"><h1><a id="user-content-hello-world" class="anchor" href="#hello-world" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Hello World</h1>

<p>Follow this tutorial to create your first web application!</p>

<h1><a id="user-content-installations--registrations" class="anchor" href="#installations--registrations" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Installations &amp; Registrations</h1>

<ul>
<li>Google Chrome <a href="https://www.google.com/chrome/browser/desktop/">Download here</a></li>
<li>Node.js LTS <a href="https://nodejs.org/en/">Download here</a></li>
<li>Visual Studio Code <a href="https://code.visualstudio.com/Download">Download here</a></li>
<li>GitHub =&gt; <a href="https://github.com/join">Signup here</a> &amp; <a href="https://desktop.github.com/">Download here</a></li>
<li>Heroku Toolbelt <a href="https://signup.heroku.com/login">Signup here</a> &amp; <a href="https://toolbelt.heroku.com/%22">Download here</a></li>
</ul>

<h1><a id="user-content-create-your-code-directory-one-time-only" class="anchor" href="#create-your-code-directory-one-time-only" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Create your Code Directory (one time only)</h1>

<ul>
<li>Open Node.js command prompt (windows) or the terminal (mac)</li>
<li>Go to your home directory (windows: <code>cd \</code> | mac: <code>cd ~</code>) </li>
<li>Create a new folder named Code (windows: <code>md Code</code> | mac: <code>mkdir Code</code>) </li>
<li>Enter into your new folder <code>cd Code</code></li>
<li>Install Sails.js <code>npm install -g sails</code></li>
<li>Open GitHub Desktop and login with your account</li>
</ul>

<h1><a id="user-content-create-the-helloworld-application" class="anchor" href="#create-the-helloworld-application" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Create the HelloWorld Application</h1>

<ul>
<li>In the Code directory, Generate the helloworld app <code>sails new helloworld</code> (your can change 'helloworld' with any other app name)</li>
<li>Navigate into the new generated app folder <code>cd helloworld</code></li>
<li>Run the app <code>sails lift</code></li>
<li>Open Chrome and navigate to localhost:1337 to see the app</li>
</ul>

<h1><a id="user-content-make-some-modifications" class="anchor" href="#make-some-modifications" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Make Some Modifications</h1>

<ul>
<li>Open Visual Studio Code</li>
<li>Open the <code>helloworld</code> folder (File &gt; Open)</li>
<li>Click on the <code>views</code> folder and click on the <code>homepage.ejs</code> file</li>
<li>Change the text <code>A brand new app</code> and change it to any text you want</li>
<li>Save the file</li>
</ul>

<h1><a id="user-content-connect-to-a-git-repository" class="anchor" href="#connect-to-a-git-repository" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Connect to a Git Repository</h1>

<ul>
<li>In Visual Studio Code, click on the Git icon (third from the top on the left)</li>
<li>Click <code>Initialize Git Repository</code></li>
<li>Write a commit message and click the checkmark icon</li>
<li>Go to <a href="http://github.com">GitHub</a>, login and create a new repository</li>
<li>In the setup screen, copy the bottom two lines (under "..or push an existing repository from the command line")</li>
<li>In the command prompt, in your app directory, paste these lines and click [Enter]</li>
<li>In Visual Studio Code, in the Git section, click on the three dots (top left) and choose <code>Publish</code> or <code>Sync</code> (whichever's available)</li>
<li>Go back to the repository on <a href="http://github.com">GitHub</a>, and make sure that the repository exists with all the code</li>
</ul>

<h1><a id="user-content-connect-to-heroku" class="anchor" href="#connect-to-heroku" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Connect to Heroku</h1>

<ul>
<li>Login to <a href="http://heroku.com">Heroku</a></li>
<li>Click '+' to create a new app (in the top right corner)</li>
<li>Give it a unique name</li>
<li>In the 'Deploy' tab, connect it to your GitHub repository</li>
<li>Click [Enable Automatic Deploys]</li>
<li>Go to Manual Deploy and click [Deploy Branch]</li>
<li>Wait for the deploy to finish and click [View App]</li>
</ul>

<h1><a id="user-content-hooray-you-now-have-your-first-published-website" class="anchor" href="#hooray-you-now-have-your-first-published-website" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Hooray! You now have your first published website</h1>
</article>
